@import "tailwindcss";

@layer base {
  body {
    background-color: #f9fafb; /* bg-gray-50 */
    color: #1e293b; /* text-slate-800 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
